* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
    background: 
    linear-gradient(135deg, black 25%, transparent 25%) -50px 0,
    linear-gradient(225deg, black 25%, transparent 25%) -50px 0,
    linear-gradient(315deg, black 25%, transparent 25%),
    linear-gradient(45deg, black 25%, transparent 25%);	
    background-size: 2em 2em;
    background-color: #232323 !important;
}
#header {
  margin: 0px;
}
.logui {
  width: 100px;
}

.colorLetra {
  color: white !important;
}

.colorLetra:hover {
  color: aqua !important;
}
  
/* MAIN */
#principal {
  background: #212529;
  margin: 20px 30px;
}

#principal #carouselExampleCaptions .carousel-inner p a {
  background-color: #a5e9f6;
  text-decoration: none;
  border-radius: 5px;
  border: solid 1px black;
  box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
  padding: 7px 12px;
  color: black;
  font-size: 25px;
}
#principal #carouselExampleCaptions .carousel-inner p a:hover {
  background-color: #90c8d3;
}
/* SECTION */
#avances {
  background-color: #212529;
  color: aqua;
  text-align: center;
  margin: 20px 30px;
}

#avances .jugabilidad {
  padding: 80px 0px;
}

#avances h2 {
  font-size: 2em;
  margin-bottom: 40px;

}

#avances .jugabilidad .play .resumen p {
  display: none;
}

#avances .resumen{
  background-position: center;
  background-size: cover;
  padding: 50px;
  margin: 12px;
  border-radius: 15px;
}

#avances .resumen a {
  text-decoration: none;
  color: white;
}
#avances .resumen a:hover {
  color: rgb(153, 152, 152);
}

.resumen:first-child {
  background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("../img/armas/espada-energetica.jpg");
}

.resumen:nth-child(2) {
  background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("../img/rangos/rangos.jpg");

}

.resumen:nth-child(3) {
  background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("../img/clasificatorias/clasi-dos.jpg");

}
/* iframe */
#trucos {
  background-color: #212529;
  margin: 20px 30px;
  color: white;
  text-align: center;
  padding: 50px 12px;
}

#trucos .tips h3 {
  font-size: 2em;
  color: aqua;
}

#trucos .tips p {
  padding: 20px 0px;
}

#trucos .tips .truc iframe {
  width: 370px;
  height: 250px;
}

/* ASIDE */
#apex a img {
  width: 15%;
  height: auto;
  margin: 0px 10px;
  position: fixed;
  bottom: 0;
  right: 0;
}

#apex {
  display: none;
}

/* FOOTER */
#redes {
  background-color: #212529;
  height: 17vh
  
}

.logosRedes {
  margin-left: 30px;
  
}
.int {
  display: inline;
}
.int a img{
  width: 50px;
  margin: 2px;
  margin-top: 5px;
  
}
.copy {
  color: white;
  text-align: center;
  margin: 20px;
  font-size: 1em;
}

@media (min-width: 768px){
  #apex {
    display: block;
  }
  #trucos .tips .truc iframe {
    width: 750px;
    height: 400px;
  }

}

@media (min-width: 992px){
  #avances .play {
    display: flex;
    justify-content: center;
  }
  #avances .jugabilidad .play .resumen p {
    display: block;
    color: white;
  }
  #avances .resumen a {
    color: aqua;
  }
}